.inputBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submitButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.submitButton:hover {
    background-color: #45a049;
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 0px 50px;
}
.boundingBox{
  padding: 0px 50px;
  text-align: center;
}
.alert {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 20px;
    margin: 10px 50px;
    border-radius: 0px;
}
#loading {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
